/*-----------Alesha Tan (S240099)-----------*/
/*-----------Header-----------*/
.topnav {
    overflow: hidden;
    background-color: #E6Af2E;
}

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 18px 25px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav .active {
    color: black;
}

html, body {
    margin:0px;
    height:100%;
    background-color: #e2e2e2;
  }
  
.box {
    background-image: url("images/ux_designer_img.png");
    background-repeat: no-repeat;
    background-size:100%;
    opacity: 0.6;
    height:100%;
  }

.title {
    border: 1px solid black;
    background-color: lightblue;
    position: fixed;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}

.divtext {
    border: 1px solid black;
    background-color: rgb(247, 247, 247);
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    width: 700px;
    height: 340px;
    padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    text-align: center;
}

/*-----------Main formatting-----------*/
.subtitle {
    font-size: 15px;
    color: #727272;
    text-align: right;
}

h1 {
    color: #ffe600;
    text-shadow: 2px 2px 5px black;
    font-family: verdana;
    font-size: 300%;
    text-align: center;
}

h2 {
    color: #219EBC;
    font-family: verdana;
    font-size: 300%;
    text-align: center;
}

h3 {
    color: #08585f;
    font-family: 'Raleway', sans-serif;;
    font-size: 30px;
}

h4 {
    color: #52b788;
    font-family: 'Raleway', sans-serif;
    text-decoration-line: underline;
    font-size: 27px;
    margin-bottom: 0;
}
        
h5 {
    font-family: sans-serif;
    font-size: 21px;
    text-decoration-line: underline;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
}

h6 {
    font-family: sans-serif;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
}
    
p {
    font-family: sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 1.2;
}

ol {
    font-family: sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 1.2;
}

ul {
    font-family: sans-serif;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 1.2;
}

section {
    background-color: rgb(255, 255, 255);
    width: 700px;
    padding-top: 20px;
    padding-right: 80px;
    padding-bottom: 10px;
    padding-left: 80px;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
}

/*-----------Table formatting-----------*/
.container {
    display: grid;
    grid-template-columns: 1fr 600px 600px 1fr;
    grid-template-rows: 70px;
    column-gap: 10px;
    row-gap: 10px;
}

.item {
  background: #d8f3dc;
  border: 1px solid black;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.item-top {
    background: #d8f3dc;
    border: 1px solid black;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    padding-top: 20px;
}

/*-----------Footer-----------*/
.footer {
    background-color: #f1f1f1;
    padding: 30px;
}

.footlinkalignment {
    margin: 0 auto;
    text-align: center;
    font-family:'Raleway', sans-serif;
}

#facebookicon {
    float: right;
    padding-bottom: 10px;
}

#twittericon {
    float: right;
    padding-bottom: 10px;
}

#linkedinicon {
    float: right;
    padding-bottom: 10px;
}


